@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg:     #080808;
  --blue:   #5468E0;
  --blue2:  #56B4F0;
  --white:  #FFFFFF;
}

* { box-sizing: border-box; padding: 0; margin: 0; }

html, body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--bg);
  color: var(--white);
}

a { color: inherit; text-decoration: none; }

::selection { background: var(--blue); color: #fff; }
